  body{
    font-family: elza,sans-serif;
    font-size: 18px;
    background-image: url(../images/parchment.webp);
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #d4b37f;
  }

  .container{
    display: flex;
    flex-direction: column;
  }

  svg{
    position: absolute;
  }
  
  a{
    text-decoration: none;
  }

  .nav{
    font-weight: bold;
    z-index: 2;
    max-width: 60%;
    padding: 2vw;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-around;
    margin: 0 0 15% 20%;
  }

  .info{
    display: flex;
    flex-direction: row;
    margin: 0 auto;
    max-width: 95%;
    column-gap: 3%;
  }

  .photo{
    width: 100%;
  }

  img{
    width: 100%;
  }

  figcaption{
    font-size: 1vw;
  }

  p{
    font-size: 1em;
    margin-bottom: 5%;
  }

  @media only screen and (max-width: 660px) {
    .info{
      display: flex;
      flex-direction: column;
      margin: 0 auto;
      max-width: 95%;
    }

    .photo{
      width: 33%;
      margin: 0 auto;
    }
  
    img{
      width: 100%;
    }

    .text{
      margin-top: 2.5%;
    }

    p{
      font-size: .75em;
      margin-bottom: 5%;
    }

  }